/* Roboto Slab & Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans');
/*--Basic color scheme--*/
:root {
  --dark-primary-color: #022140;
  --default-primary-color: #265077;
  --default-bg-color: #FFFFFF;
  --default-text-color: #595959;
  --light-primary-color: #C5CAE9;
  --light-text-color: #FFFFFF;
  --accent-color: #51a7f8;
  --emphasis-text-color: #212121;
  --secondary-text-color: #1E4258;
  --divider-color: var(--dark-primary-color);
  --overlay-bg-color: #1E4258;
  --overlay-text-color: #ccc;
  --container-bg-color: #FCFCFC;
}

* {
  
}

body {
  font-family: 'Open Sans', Helvetica, Sans-Serif;
  margin: 0 auto;
}

h1, h2, h3, h4, header {
  font-family: Roboto, Helvetica, Sans-Serif; 
}

.container {
  display: grid;
  grid-template-columns: 300px auto;
}

#navbar {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid var(--overlay-text-color);
  border-bottom: 0;
}

#navbar header {
  color: var(--emphasis-text-color);
  font-size: 1.5rem;
  border-bottom: 0.5px solid var(--overlay-text-color);
  padding: 1rem;
}

.nav-link {
  text-decoration: none;
  color: var(--default-text-color);
  border-bottom: 0.5px solid var(--overlay-text-color);
  padding: 1rem;
}


/* RESPONSIVE DESIGN */
@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 568px) {

}