/* Roboto Slab & Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans');
/*--Basic color scheme--*/
:root {
  --dark-primary-color: #022140;
  --default-primary-color: #265077;
  --default-bg-color: #FFFFFF;
  --default-text-color: #595959;
  --light-primary-color: #C5CAE9;
  --light-text-color: #FFFFFF;
  --accent-color: #51a7f8;
  --emphasis-text-color: #212121;
  --secondary-text-color: #1E4258;
  --divider-color: var(--dark-primary-color);
  --overlay-bg-color: #1E4258;
  --overlay-text-color: #ccc;
  --container-bg-color: #FCFCFC;
}

/*-----Global-----*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Helvetica, Sans-Serif;
  margin: 0 auto;
}

h1, h2, h3, h4, header {
  font-family: Roboto, Helvetica, Sans-Serif; 
}

.container {
  display: grid;
  grid-template-columns: auto auto;
}

.nav {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  background: var(--dark-primary-color);
}

.header {
  color: var(--emphasis-text-color);
  font-size: 1.5rem;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  top: 0;
  position: fixed;
  width: 100%;
  color: var(--overlay-text-color);
  background: var(--dark-primary-color);
  /* border-bottom: 0.5px solid var(--overlay-text-color); */
}

.doc-title {
  font-size: 2rem;
  padding: 0.5rem 0 0 1rem;
}

#menu-icon--small {
  display: none;
  font-size: 1.625rem;
  padding: 1.25rem;
}

.menu-main {
  display: grid;
  grid-template-columns: 250px;
  margin-top: 6rem;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--overlay-text-color);
  /* border: 0.5px solid var(--overlay-text-color); */
  padding: 1rem;
}

.menu-main a:hover, .menu-main a:active,
.nav-link.active {
  background: var(--overlay-text-color);
  color: var(--dark-primary-color);
}

#menu-side {
  display: grid;
  grid-template-columns: 1fr;
  background: var(--dark-primary-color);
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: ease-in 0.5s;
}

/*-----main-----*/
.main {
  margin-top: 6rem;
  padding: 1rem;
}

/*-------footer------*/
.footer {
  grid-column: span 2;
  bottom: 0;
  color: var(--overlay-text-color);
  background: var(--dark-primary-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
  width: 100%;
  /* padding: 1rem; */
  font-size: 1rem;
  text-align: center;
}

.footer * {
  color: var(--overlay-text-color);
  letter-spacing: 0.12em;
  text-decoration: none;
}

.footer .cta-text {
  font-size: 1rem;
  font-weight: 500;
}

.footer a:hover, .footer button:hover{
  border-bottom: 2px solid var(--light-text-color);
  border-radius: 0%;
}

.section-footer-content {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 0;
  grid-column-gap: 0;
}

.cta-text {
  grid-column: span 2;
}

.cta-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 0;
  padding-left: 10%;
}

.button {
  font-size: 1.15rem;
  font-weight: bold;
  color: var(--text-primary-color);
  background: red;
  border-radius: 25px;
  text-transform: uppercase;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 
  0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.cta-btn {
  width: 200px;
  color: var(--light-text-color);
  background: var(--accent-color);
}

.footer .social-cta {
  font-size: 0.85rem;
  height: 1.25rem;
}

.social-media-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  margin: 0;
  padding-right: 40%;
}

.social-media-icons {
  margin: 0 auto;
  font-size: 1.15rem;
  display: grid;
  grid-template-columns: repeat(3, 1.65rem);
  grid-column-gap: 0.2rem;
}

.footer #copyright-info {
  width: 100%;
  font-size: 0.8rem;
}



/* RESPONSIVE DESIGN */
@media only screen and (max-width: 768px) {
  /*-----navigation-----*/
  .doc-title {
    font-size: 1.75rem;
  }

  .menu-main {
    display: none;
  }

  #menu-icon--small {display: block;}

  /*-----footer-----*/
  .footer {
    font-size: 0.75rem;
  }

  .section-footer-content {
    display: block;
    padding: 1rem;
  }

  .cta-group {
    width: 100%;
    padding-left: 0;
  }

  .cta-text {
    font-size: 0.65;
  }

  .cta-btn {
    width: 25vw;  
    font-size: 0.85rem;  
    padding: 0.25rem 0.5rem;
  }

  .social-media-group {
    width: 100%;
    padding-right: 0;
  }

}

@media only screen and (max-width: 568px) {
  /*-----navigation-----*/
  .doc-title {
    font-size: 1.35rem;
  }

  /*-----footer-----*/
  .cta-btn {
    width: 45vw;
  }

}